{# The homepage for the website #}
{# website.hp #}

{% include 'website/common/header.twig' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 main">
            <h1>Hello, Slim 3!</h1>
            <p>This is a starter kit for small PHP Projects containing the <a href="http://www.slimframework.com/">Slim</a> microframework, <a href="http://twig.sensiolabs.org/">Twig</a> as Template Engine and <a href="http://www.doctrine-project.org/">Doctrine</a> as ORM.
                If you use PHPUnit for tests, the <code>/tests</code> folder is there, just for you to use :P</p>
            <p>Made with &lt;3 by <a href="https://napolux.com">Napolux</a></p>
        </div>
    </div>
</div>

{% include 'website/common/footer.twig' %}