{# The homepage for the website, where users can create short urls #}
{# website.hp #}

{% include 'website/common/header.twig' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 main">
            <h1>Hello, Slim3!</h1>
        </div>
    </div>
</div>

{% include 'website/common/footer.twig' %}