{# admin.hp #}
{% include 'admin/common/header.twig' %}

{% include 'admin/common/menu.twig' %}

<div class="container-fluid">
    <div class="row">
        {% include 'admin/common/sidebar.twig' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
            <p><strong>Hello, this is your admin homepage</strong></p>
        </div>
    </div>
</div>

{% include 'admin/common/footer.twig' %}
